input {
    outline: 0 none; /* turn off button highlight */
}
input.button {
    font-family: monospace;
    text-align: center;
    vertical-align: middle;
    height: 8em;
    width: 8em;
    margin: 8px;
    opacity: 0.99;
    background-color: transparent;
    /* images should not be selectable */
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
#buttons_div {
    width:       auto;
    text-align:  center;
    margin-top:  20%;
}
input.buttonSeparator {
    width: 10px;
}
div.lever_container {
    height: 50%;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}
#lever_left {
    xxx-background-color: rgb(200,200,200);
}
#lever_right {
}
#buttons_close {
    font-size:   36px;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -0.5em;
    margin-left: -0.5em;
    height:      1em;
    width:       1em;
    line-height: 1;
}
