
div.clock {
  padding-top: 10px;
}
ion-input.clock {
  text-align: center;
  font-size: 2.4em;
  font-family: sans-serif,monospace;
  padding: 0em;
  font-weight: bold;
  border: solid 1px grey;
  border-radius: 10px;
}
ion-input.half_clock {
  text-align: center;
  font-size: 1.2em;
  font-family: sans-serif,monospace;
  xxxpadding: 0em;
}

.ui-datebox-container {
  background: white;
}

