<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="7020" id="com.psygraph.pg" version="0.7.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Psygraph</name>
    <description>
      Graph your mind.
    </description>
    <author email="alec@psygraph.com" href="https://psygraph.com">
        Alec Rogers
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="StatusBarBackgroundColor" value="#90A0BB" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="android-windowSoftInputMode" value="adjustResize" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="ShowSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="000" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="SplashMaintainAspectRatio" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <asset src="www/img" target="img" />
    <platform name="browser">
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreen" value="img/logo.png" />
    </platform>
    <platform name="android">
        <hook src="scripts/android.js" type="after_prepare" />
        <preference name="Orientation" value="default" />
        <feature name="Geolocation">
            <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
        </feature>
        <preference name="android-targetSdkVersion" value="23" />
    </platform>
    <platform name="ios">
        <hook src="scripts/ios.js" type="after_prepare" />
        <preference name="Orientation" value="all" />
    </platform>
    <engine name="android" spec="~6.2.3" />
    <engine name="ios" spec="~4.4.0" />
</widget>
