ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

.swiper-slide {
  display: block;
}

.slide-title {
  margin-top: 2.8rem;
}

.slide-image {
  max-height: 200px;
  max-width: 200px;
  margin: 36px 0 0 0;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p, ol, ul, li {
  text-align: left;
  padding: 0 40px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--ion-color-step-600, #30343b);

  b {
    color: var(--ion-text-color, #000000);
  }
}
