#categories_main {
  overflow: auto;
}

ion-input[slot="end"] {
  text-align: end;
}

ion-item-divider, .center {
  justify-content: center;
  align-content: center;
  align-items: center;
}

ion-range.color, ion-col.color {
  height: unset;
  padding-top: 0px;
  padding-bottom: 0px;
}

#colorItem {
  width: 100%;
}

#colorChip {
  font-size: 1.2em;
  overflow: visible;
}
