#alertText {
  text-align:  center;
  padding:     10px 10px 10px 10px;
}
#alertBody { /* tint the alert background to a very light color*/
  background: #FFFFFF;
}
#pgAlert-popup {
  width:  90%;
}
#dialogText {
  margin-top: 6px;
}

#loading_div {
  width:       auto;
  text-align:  center;
  margin-top:  20%;
}

.modal_page {
  position:   fixed;
  width:      100%;
  height:     100%;
  background: rgba(255, 255, 255, 1);
  left:       0;
  top:        0;
  z-index:     10000;
}
