
.ui-input-text.enso, input.enso {
  border: none;
  background: none;
  box-shadow: none;
}


.ios ion-list {
  margin-bottom: 10px;
}

.md ion-list {
  border-top: 1px solid var(--ion-color-step-150, #d7d8da);
  padding: 0;
}
