ion-header, #header_toolbar {
  --background: var(--ion-background-color, #fff);
}
img.banner {
  height: 1em;
  margin: 0em 0em 0em 0em;
}
#banner {
  font-size: 1.2em;
  padding: 0.4em 0em;
}
ion-title #title {
  text-align: center;
}
