/* CSS for Psygraph client */


                                                                                                        
/* 
==============================================================
basic elements 
==============================================================
*/

* {
    /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-callout: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
html {
    border:  none; 
    margin:  0em;
    padding: 0em;
    vertical-align: middle;
}
html,body { 
    width:      100%;
    height:     100%;
    overflow-x: hidden; 
    overflow-y: hidden; 
}
body {
    border:  none;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-backface-visibility:hidden;
    -webkit-overflow-scrolling: auto;
    backface-visibility:hidden;
    -ms-content-zooming: none;
}
p { 
    text-align: center;
    vertical-align: middle;
}
h3 { 
    letter-spacing: 0.1em;
    margin-bottom: 0;
}
a:link { 
    font-weight: bold; 
    text-decoration: none; 
}
div.category a:visited,
a:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
div.category a,
div.category a:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
ul,ol {
    text-align: left;
}

/* Various text properties */
html {
    xxx-font-family: Helvetica; 
    xxx-font-size: 16px;
    xxx-font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    text-align: center;
}

/* 
==============================================================
Title Bar and Common Elements
==============================================================
*/
.ui-header .rightTitlePopup, .ui-header .leftTitlePopup {
    font-size: 1.0em;
    line-height: 1.0em;
    width: 3.2em;
    text-align: left;
    text-overflow: clip;
    border-width: 1px;
    border-style: solid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2.0em;
}
.ui-btn-right {
    right: 0.2em;
}
.ui-btn-left {
    left: 0.2em;
}
.ui-btn-icon-left {
    xxx-padding-left: 2.0em;
}
.ui-popup {
    min-width: 8em;
}
/* 
==============================================================
JQuery elements 
==============================================================
*/
/* popups that are otherwise transparent */
div.catPopupMenu.ui-popup {
    background: rgba(255,255,255, 1);
}

.ui-content .ui-listview, .ui-panel-inner>.ui-listview {
    margin: 1px;
}
.ui-listview, .ui-listview>li {
    background: rgba(255,255,255, 0.8);
}
.ui-listview, .ui-listview>li {
    background: rgba(255,255,255, 1);
}
.ui-body-a, .ui-overlay-a, .ui-content, .ui-page {
    background: transparent;
    text-shadow: none;
}
.ui-title {
    xxxheight: 36px;
}
.ui-header .ui-title {
    min-height:    1em;
    max-height:    1em;
    margin-top:    0px;
    margin-bottom: 0px;
    margin-left:   10%;
    margin-right:  10%;
}
div.ui-header, div.ui-content, div.ui-footer {
    border-top-width: 0em;
    xxxfont-size:   0.8em;
    overflow:      hidden;
}
div.ui-content, div.ui-footer {
    margin:  0em;
    padding: 0em;
}
div.ui-header {
    line-height:     1.4em;
    xxxposition:  relative;
    xxxpadding-bottom: 8px;
}
div [data-role="collapsibleset"] {
    margin: 0em;
}
.ui-mobile, .ui-page, .page {
    position: fixed;
    height: 100%;
    width: 100%;
}
textarea.ui-input-text,
div.ui-input-text,
div.ui-field-contain {
    margin: 0.2em 0.2em 0.4em 0em;
    border-width: 0em 0em 0em 0em;
    padding:    0.4em 0em 0em 0em;
}
div.ui-field-contain {
    outline: 0 none; /* turn off ios underscore */
}
a.ui-btn {
    color: black;
}
input {
    outline: 0 none; /* turn off button highlight */
}
/* The title bar icon */
img.banner {
    height: 1em;
    margin: 0em 0em 0em 0em;
}
#banner {
    font-size: 1.2em;
    padding: 0.4em 0em;
}
.ui-header .ui-title {
    xmargin:  0em 0em 0em 0em;
}

.ui-grid-b .navbar_button {
    padding-top:    0.1em;
    padding-left:   0.1em;
    padding-right:  0.1em;
    padding-bottom: 0.1em;
}
/* ui-field-contain put a strange underscore between elements on IOS.
Add the .no-field-separator class to avoid that */
.ui-hide-label.ui-br, .no-field-separator {
    border-bottom-width: 0em;
}
.ui-field-contain.ui-hide-label, .no-field-separator {
    margin: 1em 0em;
    padding: 0em;
}
/*
==============================================================
CSS for categories 
==============================================================
*/
#categoryName, #pageName { 
    text-align: center;
    vertical-align: middle;
    margin: 0.1em; 
}
div.category, div.home {
    padding: 0.2em 0em 0em 0em;
    text-shadow: none;
    font-size:   14pt;
    font-weight: bold;
    font-style: italic;
}
div.leftFloat {
    float: left;
}
div.rightFloat {
    float: right;
}
/* category button */
.ui-navbar li .ui-btn {
    font-size: 0.8em; 
    display: block; 
    margin: 0em;
    border-right-width: 0em;
    line-height: .6em;
    vertical-align: bottom;
    padding: 2.6em 0em 0.4em 0em;
}
a.catPopup {
    xxx-margin: 0.4em 0.1em 0.1em 0.1em;
}

/*
==============================================================
CSS for settings
==============================================================
*/

div.settings {
    padding: 20px;
}

fieldset.settings {
    border-width: 2px;
    border-style: solid;
    margin: 10px 5px 2px 5px;
    padding: 5px;
}

/*
==============================================================
CSS for navbar 
==============================================================
*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    list-style-type:none;
    opacity: 0.84;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    display: block;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    color: #ffffff;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn,  .sidenav .closebtn .hover, .sidenav .closebtn .active {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
}

/*
==============================================================
CSS for pages 
==============================================================
*/

/* there are a few scrollabe divs: about, list, help pages */
div.scrollable {
    overflow: auto;
}
div.clickarea {
    height: 100%;
}

div.page {
    padding-top: 0px !important
}

#about_main, #help_main, #map_main, #list_main, #graph_main {   
   padding-left: 0px;
   padding-right: 0px;
}
div.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing:     border-box;
   padding-left:   0.2em;
   padding-right:  0.2em;
   padding-top:    0px;
   padding-bottom: 0px;
   margin:         0em;
   border-width:   0em;
   overflow:       hidden;
}

/* Various widgets
============================================================== */
/* To preserve text selection on text inputs you need to negate the effect of the first rule using this other snippet: */
input, textarea {
    -webkit-user-select: text;
    -webkit-user-callout: default;
    -webkit-touch-callout: default;
}

textarea {
    margin:       4px 4px 4px 4px;
    border-width: 0em 0em 0em 0em;
    padding:      0em 0em 0em 0em;
    resize:       none;
    wrap:         soft;
}
input {
    margin: 0.2em;
    border-width: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
    outline: 0 none; /* turn off button highlight */
}
.ui-input-text input {
    min-height: 2em;
}
input.button {
    font-family: monospace;
    text-align: center;
    vertical-align: middle;
    height: 8em;
    width: 8em;
    opacity: 0.99;
    background-color: transparent;
    /* images should not be selectable */
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
div.lever_container {
    height: 50%;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}
#lever_left {
    xxx-background-color: rgb(200,200,200);
}
#lever_right {
}
#buttons_close {
    font-size:   36px;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -0.5em;
    margin-left: -0.5em;
    height:      1em;
    width:       1em;
    line-height: 1;
}
@media only screen and (orientation: portrait) {
    #buttons_page {
        height: 100%;
    }
}

@media only screen and (orientation: landscape) {
}

.inset {
    /* This is to inset the time and stopwatch text input boxes */
    margin-left:    10px;
    margin-right:   10px;
    margin-top:     0em;
    margin-bottom:  0em;
    padding-top:    0em;
    padding-bottom: 0em;
    border-width:   0em;
}

#loading_div {
    width:       auto;
    text-align:  center;
    margin-top:  20%;
}
#buttons_div {
    width:       auto;
    text-align:  center;
    margin-top:  20%;
}
.modal_page {
    position:   fixed;
    width:      100%;
    height:     100%;
    background: rgba(255, 255, 255, 1);
    left:       0;
    top:        0;
    z-index:     10000;
}

/* ALERT, DIALOG
============================================================== */
#alertText {
    text-align:  center;
    padding:     10px 10px 10px 10px;
}
#alertBody { /* tint the alert background to a very light color*/
    background: #FFFFFF;
}
#pgAlert-popup {
    width:  90%;
}
#dialogText {
    margin-top: 6px;
}

/* LIST
============================================================== */
table {
    width: 90%;
}
#eventlist {
    height: 100%;
    width:  100%;
}
#list_divider {
    width: 100%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.data {
    vertical-align: middle;
    border: 1px solid black;
    padding: 4px;
}
td.fill {
}
tr.data, td.data { /* tint all rows to a lighter color for legibility*/
    background: rgba(255,255,255, 0.1);
}
th.data, tr.selected, td.selected { /* tint the headers and selected rows to a very light color*/
    background: rgba(255,255,255, 0.8);
}

/* HELP, ABOUT
============================================================== */

div.help {
    padding: 20px;
    margin-bottom: 40px;
}
div.help p {
    text-align: left;
}
div.help img {
    margin:  0em;
    padding: 12px;
    margin-bottom: 40px;
    border-style: solid;
}
#helpDiv, #aboutDiv {
    margin:  0em;
    padding: 12px;
    position: inherit;
}
div.helpPageDiv {
    margin-bottom: 40px;
}
div#levers {
    display: inline-table;
}
.legal {
    font-size: 0.4em;
    text-align: left;
}
/*

#help_rightButton {
    padding-right: 4em;
}

*/

/* PREFERENCES
============================================================== */
#new_pages_button {
    font-size: 1.1em;
}
#preferencesPage label {
    text-align: left;
}
.selectize-input {
    border: 0px;
    padding: 0px;
}
.selectize-item, #categories_new-selectized {
    font-size: 22px;
    margin: 5px;
    background: #DDDDDD !important;
    border-color: #DDDDDD !important;
    -webkit-border-radius: 6px;        
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-width: 6px 2px 2px 2px !important;
}
.selectize-input a.remove {
    font-size: 18px !important;
}
/* HOME 
============================================================== */
#home_status {
    margin: 10px;
    text-align: left;
    font-size: 22px;
}
#home_status p {
    margin: 10px;
    text-align: left;
    font-size: 22px;
}
#home_status p.banner {
    margin: 10px;
    text-align: center;
}
input#passw { /* this is in a dialog, and appears small otherwise. */
    border-width: 1px;
    padding: 6px;
}

#statistics table {
    border-collapse: collapse;
}
#statistics th {
    border: 0px;
    text-align: center;
}
#statistics th.col {
    border: 0px;
    text-align: right;
}
#statistics td {
    border: 1px solid black;
    text-align: center; 
}

/* STOPWATCH, TIMER
============================================================== */
input#stopwatch_stop,input#timer_stop {
    display: none;
}
input.clock_widget {
    text-align: center;
    font-size: 2.4em;
    font-family: sans-serif,monospace;
    padding: 0em;
    font-weight: bold;
}
input.half_clock_widget {
    text-align: center;
    font-size: 1.2em;
    font-family: sans-serif,monospace;
    xxxpadding: 0em;
}

.ui-datebox-container {
   background: white;
}

/* COUNTER
============================================================== */

.ui-input-text.enso, input.enso {
   border: none;  
   background: none;
   box-shadow: none;
}

/* NOTE
============================================================== */
.note {
    font-size: 1.4em;
}

#noteTextContainer {
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch !important;
    height: 24em;
}

#noteDiv .mce-container, #noteDiv .mce-fullscreen {
    z-index: 1000;
}

/* MAP 
============================================================== */
img#map_mark, input.map_mark {
    height: 2em;
    width: 2em;
}
.leaflet-bar {
    box-shadow: none;
    border: 0em;
}
div#mapid {
    background: transparent;
}

/* GRAPH, CHART
============================================================== */
.graphContainer {
  width: 10em;
  height: 10em;
  position: relative;
}
.graph {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0em;
  left: 0em;
}
.graphStyle {
  stroke: black;
  fill: grey;
}

/* PLOT.ly
============================================================== */
svg rect.scrollbar {
    visibility: hidden;
}
